# @author Alejandro Galue <agalue@opennms.org>
#
# WARNING:
# - The elasticsearch user (uid: 1000, gid: 1000) cannot be used in OpenShift by default.
# - Elasticsearch expects to have very fast disks for the PVC to avoid performance issues.
# - Internet access from the container is required to retrieve the Drift Plugin binaries from GitHub.

---
apiVersion: v1
kind: Service
metadata:
  name: esdata
  namespace: opennms
  labels:
    app: elasticsearch
    role: esdata
spec:
  clusterIP: None
  ports:
  - port: 9200
    name: http
  - port: 9300
    name: transport
  selector:
    role: esdata

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: esdata
  namespace: opennms
  labels:
    app: elasticsearch
    role: esdata
spec:
  serviceName: esdata
  replicas: 3
  selector:
    matchLabels:
      role: esdata
  template:
    metadata:
      labels:
        app: elasticsearch
        role: esdata
    spec:
      terminationGracePeriodSeconds: 300
      securityContext: # In order to be able to write data as non-root on the volumes
        fsGroup: 1000 # Default elasticsearch user
      initContainers:
      - name: init-sysctl
        image: busybox
        command:
        - sysctl
        - -w
        - vm.max_map_count=262144
        securityContext:
          privileged: true
      - name: onms-plugin
        image: busybox
        command: [ sh, -c ]
        args: [ "wget $(PLUGIN_URL) && unzip elasticsearch-drift-plugin-$(PLUGIN_VERSION).zip -d /plugin/" ]
        env:
          - name: PLUGIN_VERSION # Must match the chosen Elasticsearch version
            value: '7.6.2'
          - name: PLUGIN_URL
            value: https://github.com/OpenNMS/elasticsearch-drift-plugin/releases/download/v$(PLUGIN_VERSION)/elasticsearch-drift-plugin-$(PLUGIN_VERSION).zip
        volumeMounts:
        - name: onms-plugin-dir
          mountPath: /plugin
      - name: dependencies
        image: waisbrot/wait
        imagePullPolicy: IfNotPresent
        env:
        - name: TARGETS
          value: esmaster.opennms.svc.cluster.local:9200
        - name: TIMEOUT
          value: '900'
      containers:
      - name: esdata
        image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
        imagePullPolicy: IfNotPresent
        securityContext:
          runAsUser: 1000
          capabilities:
            add:
            - IPC_LOCK
            - SYS_RESOURCE
        ports:
        - containerPort: 9200
          name: http
        - containerPort: 9300
          name: transport
        env:
        - name: TZ
          valueFrom:
            configMapKeyRef:
              key: TIMEZONE
              name: common-settings
        - name: cluster.name
          value: OpenNMS
        - name: node.name
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: xpack.security.enabled
          value: 'false' # Enabling security requires a license
        - name: discovery.seed_hosts
          value: esmaster.opennms.svc.cluster.local
        - name: node.master
          value: 'false'
        - name: node.data
          value: 'true'
        - name: node.ingest # Required, even if data won't be transformed before index it (to avoid having dedicated ingest nodes)
          value: 'true'
        - name: http.cors.enabled
          value: 'true'
        - name: http.cors.allow-origin
          value: '*'
        - name: xpack.monitoring.collection.enabled
          value: 'true'
        - name: search.max_buckets # To avoid "Too many buckets exception" in Grafana
          value: '50000'
        - name: MEM_TOTAL_MB
          valueFrom:
            resourceFieldRef:
              resource: requests.memory
              divisor: 1Mi
        - name: ES_JAVA_OPTS # TODO jvm.options default will be used if Xms/Xmx are not passed
          value: -Xms$(MEM_TOTAL_MB)m -Xmx$(MEM_TOTAL_MB)m
        - name: ELASTIC_PASSWORD
          valueFrom:
            secretKeyRef:
              key: ELASTICSEARCH_PASSWORD
              name: onms-passwords
        volumeMounts:
        - name: data
          mountPath: /usr/share/elasticsearch/data
        - name: onms-plugin-dir
          mountPath: /usr/share/elasticsearch/plugins/drift
        resources:
          limits:
            cpu: 4
            memory: 4Gi
          requests:
            cpu: 2
            memory: 2Gi
        readinessProbe:
          tcpSocket:
            port: http
          initialDelaySeconds: 30
          periodSeconds: 15
        livenessProbe:
          tcpSocket:
            port: http
          initialDelaySeconds: 60
          periodSeconds: 60
      volumes:
      - name: onms-plugin-dir
        emptyDir: {}
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 20Gi
