# @author Alejandro Galue <agalue@opennms.org>
#
# WARNING:
# - This solution expose 9094 on the k8s worker node.
#   That means, kafka can be scaled up to the number of workers on the k8s cluster.
# - The kafka process runs as root, which is not allowed on OpenShift.
# - KAFKA_DEFAULT_REPLICATION_FACTOR should be consistent with the number of replicas.
# - KAFKA_NUM_PARTITIONS should be greater than the number of replicas.
#
# TODO:
# - For TLS, the advertised.listener on port 9094 should be the public FQDN of the K8S host.
#   The reason for this is that all the certificates must be associated with that FQDN.

---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: opennms
  labels:
    app: kafka
spec:
  clusterIP: None
  ports:
  - port: 9092
    name: inside
  - port: 9999
    name: jmx
  selector:
    app: kafka

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  namespace: opennms
  labels:
    app: kafka
spec:
  serviceName: kafka
  replicas: 3
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      terminationGracePeriodSeconds: 300
      initContainers:
      - name: dependencies
        image: waisbrot/wait
        imagePullPolicy: IfNotPresent
        env:
        - name: TARGETS
          value: zookeeper.opennms.svc.cluster.local:2181
        - name: TIMEOUT
          value: '900'
      containers:
      - name: kafka
        image: wurstmeister/kafka:2.13-2.6.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9092
          name: inside
        - containerPort: 9999
          name: jmx
        env:
        - name: TZ
          valueFrom:
            configMapKeyRef:
              key: TIMEZONE
              name: common-settings
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: K8S_HOST
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: BROKER_ID_COMMAND
          value: echo ${HOSTNAME##*-}
        - name: KAFKA_LISTENERS
          value: INSIDE://:9092
        - name: KAFKA_ADVERTISED_LISTENERS # Kafka available only inside K8s
          value: INSIDE://:9092
        - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
          value: INSIDE:SASL_PLAINTEXT
        - name: KAFKA_INTER_BROKER_LISTENER_NAME
          value: INSIDE
        - name: KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL
          value: PLAIN
        - name: KAFKA_SASL_ENABLED_MECHANISMS
          value: PLAIN
        - name: KAFKA_ZOOKEEPER_CONNECTION_TIMEOUT_MS
          value: '15000'
        - name: KAFKA_ZOOKEEPER_CONNECT
          value: zookeeper.opennms.svc.cluster.local:2181/kafka
        - name: KAFKA_DEFAULT_REPLICATION_FACTOR
          value: '2' # Must be consistent with the cluster size
        - name: KAFKA_MIN_INSYNC_REPLICAS
          value: '1'
        - name: KAFKA_NUM_PARTITIONS
          valueFrom: # Must be consistent with the chosen amount of replicas
            configMapKeyRef:
              key: KAFKA_NUM_PARTITIONS
              name: common-settings
        - name: KAFKA_AUTO_LEADER_REBALANCE_ENABLE
          value: 'true'
        - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
          value: 'true'
        - name: KAFKA_DELETE_TOPIC_ENABLE
          value: 'false'
        - name: KAFKA_CONTROLLED_SHUTDOWN_ENABLE
          value: 'true'
        - name: KAFKA_MESSAGE_MAX_BYTES
          value: '5000000'
        - name: KAFKA_REPLICA_FETCH_MAX_BYTES
          value: '5000000'
        - name: KAFKA_COMPRESSION_TYPE
          value: producer
        - name: JMX_PORT
          value: '9999'
        - name: KAFKA_OPTS
          value: -Djava.security.auth.login.config=/opt/kafka/config/kafka_server_jaas.conf
        - name: KAFKA_JMX_OPTS
          value: |
            -Dcom.sun.management.jmxremote
            -Dcom.sun.management.jmxremote.authenticate=false
            -Dcom.sun.management.jmxremote.ssl=false
            -Djava.rmi.server.hostname=$(POD_IP)
            -Dcom.sun.management.jmxremote.rmi.port=$(JMX_PORT)
        - name: MEM_TOTAL_MB
          valueFrom:
            resourceFieldRef:
              resource: requests.memory
              divisor: 1Mi
        - name: KAFKA_HEAP_OPTS
          value: -Xms$(MEM_TOTAL_MB)m -Xmx$(MEM_TOTAL_MB)m
        - name: INSTANCE_ID
          valueFrom:
            configMapKeyRef:
              key: OPENNMS_INSTANCE_ID
              name: common-settings
        - name: KAFKA_CREATE_TOPICS_SEPARATOR
          value: "$$'\n'"
        - name: KAFKA_CREATE_TOPICS # Must match ALEC and OpenNMS settings
          value: |
            $(INSTANCE_ID)_nodes:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
            $(INSTANCE_ID)_nodes_json:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
            $(INSTANCE_ID)_nodes_json_flat:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
            $(INSTANCE_ID)_alarms:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
            $(INSTANCE_ID)_alarms_json:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
            $(INSTANCE_ID)_alarms_json_flat:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
            $(INSTANCE_ID)_alarms_feedback:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
            $(INSTANCE_ID)_alec_inventory:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
            $(INSTANCE_ID)_edges:$(KAFKA_NUM_PARTITIONS):$(KAFKA_DEFAULT_REPLICATION_FACTOR)
        volumeMounts:
        - name: data
          mountPath: /kafka
        - name: config
          mountPath: /opt/kafka/config/kafka_server_jaas.conf
          subPath: kafka-jaas.conf
        resources:
          limits:
            memory: 4Gi
            cpu: 2
          requests:
            memory: 2Gi
            cpu: 1
        readinessProbe:
          tcpSocket:
            port: inside
          initialDelaySeconds: 20
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: inside
          initialDelaySeconds: 30
          periodSeconds: 60
      volumes:
      - name: config
        secret:
          secretName: onms-passwords

  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 20Gi
