# @author Alejandro Galue <agalue@opennms.org>
#
# TODO Define resource quota and limits.
# TODO Define default limits.
#
# Adding Users:
#
# - Create a CSR with openssl or cfssl.
# - Create a CertificateSigningRequest object.
# - Approve the certificate using the "kubectl certificate approve" command.
# - Download the signed certificate using the "kubectl get csr" command.
# - Set the kubectl context with the key and the certificate.
#
# To create user "agalue" that belongs to the group "admin":
#
# cat <<EOF | cfssl genkey - | cfssljson -bare agalue
# {
#   "CN": "agalue",
#   "names": [
#     {
#       "O": "admin"
#     }
#   ],
#   "key": {
#     "algo": "rsa",
#     "size": 2048
#   }
# }
# EOF
#
# cat <<EOF | kubectl apply -f -
# apiVersion: certificates.k8s.io/v1beta1
# kind: CertificateSigningRequest
# metadata:
#   name: agalue
# spec:
#   request: $(cat agalue.csr | base64 | tr -d '\n')
#   usages:
#   - digital signature
# EOF
#
# kubectl certificate approve agalue
#
# kubectl get csr agalue -o jsonpath='{.status.certificate}' | base64 --decode > agalue.crt
#
# To create user "jdoe" that belongs to the group "operator", perform a similar operation,
# changing 'CN' and 'O'.
#
# To add new context:
#
# kubectl config set-credentials agalue --client-certificate=agalue.crt --client-key=agalue-key.pem
# kubectl config set-context agalue --current --user=agalue --namespace=opennms

---
apiVersion: v1
kind: Namespace
metadata:
  name: opennms

# The following is optional.
# It is here as a template in case other admin/operators have to interact with the cluster.

# RBAC Role onms-operator: to view the K8s solution on the opennms namespace.
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: opennms
  name: onms-operator
rules:
- apiGroups:
  - ""
  - apps
  resources:
  - configmaps
  - pods
  - pods/log
  - services
  verbs:
  - get
  - list
  - watch

# RBAC RoleBinding opennms-operator: to associate the users of group "operator" to the "onms-operator" role.
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: opennms
  name: opennms-operator
subjects:
- kind: Group
  name: operator
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: onms-operator
  apiGroup: rbac.authorization.k8s.io

# RBAC Role onms-admin: to manage the K8s solution on the opennms namespace.
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: opennms
  name: onms-admin
rules:
- apiGroups:
  - ""
  - extensions
  - apps
  resources:
  - "*"
  verbs:
  - "*"
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - "*"

# RBAC RoleBinding opennms-admin: to associate the users of group "admin" to the "onms-admin" role.
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: opennms
  name: opennms-admin
subjects:
- kind: Group
  name: admin
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: onms-admin
  apiGroup: rbac.authorization.k8s.io

# RBAC ClusterRoleBinding opennms-admin-storage: to allow users of group "admin" to manage persistent volumes.
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: opennms
  name: opennms-admin-storage
subjects:
- kind: Group
  name: admin
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: system:persistent-volume-provisioner
  apiGroup: rbac.authorization.k8s.io

