# @author Alejandro Galue <agalue@opennms.org>
#
# NOTES:
# - This manifest is designed to work with the version of the image from:
#   https://hub.docker.com/r/agalue/horizon-core-web
#   https://github.com/OpenNMS/opennms-drift-kubernetes/tree/master/docker-images/opennms
#   The image is a slight modification of the official one, which is why all the customizations
#   have been added through initContainers instead of having them within the image.
# - It is perfectly valid to have all the required configuration files on a config-map,
#   and then mount those files to the overlay directory, instead of using an initContainer.
#   That said, without the intelligence to guard against upgrades through the initContainer
#   script, if you opt for using config-maps, you have to prepare the config files on the PV
#   prior upgrading the version of OpenNMS on the chosen image.
#
# WARNING:
# - This deployment will have a persistent volume for /opt/opennms/etc to track the configuration changes.
#
# TODO:
# - Potential tools for managing /opt/opennms/etc:
#   https://vapor-ware.github.io/ksync/
#   https://github.com/kubernetes/git-sync
#   https://gitkube.sh
# - Add a lifecycle.preStart to execute a "git commit" of the current state of the configuration,
#   in order to track what has been changed between since the last time the Pod was running.

---
apiVersion: v1
kind: Service
metadata:
  name: opennms-core
  namespace: opennms
  labels:
    app: onms
spec:
  clusterIP: None
  ports:
  - port: 8980
    name: http
  - port: 8101
    name: karaf
  - port: 2049
    name: nfs
  selector:
    app: onms

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: onms
  namespace: opennms
  labels:
    app: onms
spec:
  serviceName: opennms-core
  replicas: 1 # The solution only allows 1 instance
  selector:
    matchLabels:
      app: onms
  template:
    metadata:
      labels:
        app: onms
    spec:
      terminationGracePeriodSeconds: 120
      securityContext: # In order to be able to write data as non-root on the volumes
        fsGroup: 10001 # Default opennms user
      initContainers:
      # Initializes/Updates OpenNMS Configuration
      # Requires the same image/version used at runtime: horizon-core-web
      - name: init-config
        image: agalue/horizon-core-web:25.0.0-1
        imagePullPolicy: IfNotPresent
        command: [ bash, /init.sh ]
        env:
        - name: TZ
          valueFrom:
            configMapKeyRef:
              key: TIMEZONE
              name: common-settings
        - name: INSTANCE_ID
          valueFrom:
            configMapKeyRef:
              key: OPENNMS_INSTANCE_ID
              name: common-settings
        - name: ENABLE_ALEC
          value: 'true'
        - name: FEATURES_LIST
          value: opennms-alarm-history-elastic,opennms-es-rest,opennms-kafka-producer,opennms-situation-feedback # For H24+
        - name: CASSANDRA_SERVER
          value: cassandra.opennms.svc.cluster.local
        - name: CASSANDRA_REPLICATION_FACTOR
          valueFrom:
            configMapKeyRef:
              key: CASSANDRA_REPLICATION_FACTOR
              name: common-settings
        - name: CASSANDRA_DC
          valueFrom:
            configMapKeyRef:
              key: CASSANDRA_DC
              name: common-settings
        - name: KAFKA_SERVER
          value: kafka.opennms.svc.cluster.local
        - name: ELASTIC_SERVER
          value: esdata.opennms.svc.cluster.local
        - name: ELASTIC_PASSWORD
          valueFrom:
            secretKeyRef:
              key: ELASTICSEARCH_PASSWORD
              name: onms-passwords
        - name: ELASTIC_INDEX_STRATEGY_FLOWS
          valueFrom:
            configMapKeyRef:
              key: ELASTIC_INDEX_STRATEGY_FLOWS
              name: common-settings
        - name: JAEGER_AGENT_HOST
          value: jaeger-agent.opennms.svc.cluster.local
        volumeMounts:
        - name: etc # Persistent volume for OpenNMS Configuration
          mountPath: /opennms-etc
        - name: opennms-config
          mountPath: /init.sh
          subPath: onms-core-init.sh
      # Install ALEC assuming it is not present on the Horizon Docker Image
      - name: alec-plugin
        image: centos:7
        command: [ sh, -c ]
        args: [ "yum install -y -q wget && wget --content-disposition $RPM_URL -O alec.rpm && rpm2cpio alec.rpm | cpio -idv && mv opt/opennms/deploy/opennms-alec-plugin.kar /plugin/" ]
        env:
        - name: RPM_URL
          value: https://packagecloud.io/opennms/plugin-snapshot/packages/el/7/opennms-alec-plugin-1.0.2-SNAPSHOT20191022181239.noarch.rpm/download.rpm
        volumeMounts:
        - name: karaf-deploy
          mountPath: /plugin
      # Initializes Newts keyspace on Cassandra/ScyllaDB through CQLSH (requires newts.cql)
      - name: init-newts
        image: cassandra:3.11.5
        imagePullPolicy: IfNotPresent
        command: [ sh, -c, 'cqlsh -f /opennms-etc/newts.cql $CASSANDRA_HOST' ]
        env:
        - name: CASSANDRA_HOST
          value: cassandra.opennms.svc.cluster.local
        volumeMounts:
        - name: etc
          mountPath: /opennms-etc
      # Wait for all the dependencies
      - name: dependencies
        image: waisbrot/wait
        imagePullPolicy: IfNotPresent
        env:
        - name: TARGETS
          value: postgresql.opennms.svc.cluster.local:5432,cassandra.opennms.svc.cluster.local:9042,kafka.opennms.svc.cluster.local:9092,esdata.opennms.svc.cluster.local:9200
        - name: TIMEOUT
          value: '600'
      containers:
      - name: onms
        image: agalue/horizon-core-web:25.0.0-1
        imagePullPolicy: IfNotPresent
        args:
        - -s
        ports:
        - containerPort: 8101
          name: karaf
        - containerPort: 8980
          name: http
        env:
        - name: TZ
          valueFrom:
            configMapKeyRef:
              key: TIMEZONE
              name: common-settings
        - name: MEM_TOTAL_MB
          valueFrom:
            resourceFieldRef:
              resource: requests.memory
              divisor: 1Mi
        - name: JAVA_OPTS # Preferred way instead of opennms.conf
          value: -Xms$(MEM_TOTAL_MB)m -Xmx$(MEM_TOTAL_MB)m
        - name: POSTGRES_HOST
          value: postgresql.opennms.svc.cluster.local
        - name: POSTGRES_PORT
          value: '5432'
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_PASSWORD
              name: onms-passwords
        - name: OPENNMS_DBNAME
          value: opennms
        - name: OPENNMS_DBUSER
          value: opennms
        - name: OPENNMS_DBPASS
          valueFrom:
            secretKeyRef:
              key: OPENNMS_DB_PASSWORD
              name: onms-passwords
        volumeMounts:
        - name: etc
          mountPath: /opt/opennms/etc
        - name: karaf-deploy
          mountPath: /opt/opennms/deploy
        resources:
          limits:
            cpu: 4
            memory: 6Gi
          requests:
            cpu: 4
            memory: 4Gi
        readinessProbe:
          httpGet:
            path: /opennms/login.jsp
            port: http
          initialDelaySeconds: 15
          periodSeconds: 15
        livenessProbe:
          httpGet:
            path: /opennms/login.jsp
            port: http
          initialDelaySeconds: 30
          periodSeconds: 60
      # Optional image to share configuration directory through NFS (required by external UI servers)
      - name: nfs
        image: itsthenetwork/nfs-server-alpine:12
        imagePullPolicy: IfNotPresent
        env:
        - name: SHARED_DIRECTORY
          value: /opennms-etc
        - name: READ_ONLY
          value: 'true'
        ports:
        - containerPort: 2049
          name: nfs
        volumeMounts:
        - name: etc
          mountPath: /opennms-etc
      volumes:
      - name: opennms-config
        configMap:
          name: opennms-config
      - name: karaf-deploy
        emptyDir: {}
  volumeClaimTemplates:
  - metadata:
      name: etc
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi # Cannnot be less than that in AWS for an EBS Volume
