# @author Alejandro Galue <agalue@opennms.org>
#
# WARNING:
# - Full FQDNs are required for ZOO_SERVERS; otherwise, the leader election fails.
# - The zookeeper user (uid: 1000, gid: 1000) cannot be used in OpenShift by default.

apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: opennms
  labels:
    app: zk
spec:
  ports:
  - port: 2888
    name: server
  - port: 3888
    name: leader-election
  - port: 2181
    name: client
  - port: 9998
    name: jmx
  clusterIP: None
  selector:
    app: zk

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zk
  namespace: opennms
  labels:
    app: zk
spec:
  serviceName: zookeeper
  replicas: 3 # The solution is designed for 3 instances
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: zk
  template:
    metadata:
      labels:
        app: zk
    spec:
      terminationGracePeriodSeconds: 300
      initContainers:
      - name: generate-zooid
        image: busybox
        command:
        - sh
        - -c
        - ORD=${HOSTNAME##*-}; MYID=$((ORD+1)); echo $MYID > /data/myid
        volumeMounts:
        - name: data
          mountPath: /data
      containers:
      - name: zk
        image: zookeeper:3.5
        imagePullPolicy: IfNotPresent
        env:
        - name: TZ
          valueFrom:
            configMapKeyRef:
              key: TIMEZONE
              name: common-settings
        - name: ZOO_SERVERS # Must be consistent with the replicas
          value: server.1=zk-0.zookeeper.opennms.svc.cluster.local:2888:3888 server.2=zk-1.zookeeper.opennms.svc.cluster.local:2888:3888 server.3=zk-2.zookeeper.opennms.svc.cluster.local:2888:3888
        - name: ZOO_TICK_TIME
          value: '2000'
        - name: ZOO_INIT_LIMIT
          value: '10'
        - name: ZOO_SYNC_LIMIT
          value: '5'
        - name: JMXLOCALONLY
          value: 'false'
        - name: JMXDISABLE
          value: 'false'
        - name: JMXPORT
          value: '9998'
        - name: JMXAUTH
          value: 'false'
        - name: JMXSSL
          value: 'false'
        - name: MEM_TOTAL_MB
          valueFrom:
            resourceFieldRef:
              resource: requests.memory
              divisor: 1Mi
        - name: JVMFLAGS
          value: -Xms$(MEM_TOTAL_MB)m -Xmx$(MEM_TOTAL_MB)m
        ports:
        - containerPort: 2888
          name: peer
        - containerPort: 3888
          name: leader-election
        - containerPort: 2181
          name: client
        - containerPort: 9998
          name: jmx
        volumeMounts:
        - name: data
          mountPath: /data
        resources:
          limits:
            memory: 512Mi
            cpu: 200m
          requests:
            memory: 256Mi
            cpu: 100m
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - '[ "imok" = "$(echo ruok | nc 127.0.0.1 2181)" ]'
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: client
          initialDelaySeconds: 30
          periodSeconds: 60
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 4Gi

